@use '../../../styles/colors.module' as *;
.card_stack {
    box-shadow: 0px 4px 12px rgba(#000000, .1);
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 400px;
    padding: 24px 16px;
    border-radius: 12px;
    gap: 16px;

    .header_container {
        display: grid;
        grid-template-areas: 'icon title' 'icon chip';
        grid-template-columns: max-content;
        gap: 8px 24px;

        .icon {

            grid-area: icon;
            place-self: center;
        }

        .title {
            grid-area: title;
        }

        .chip {
            grid-area: chip;
            margin-left: -3px;
        }
    }

    .result_percentual {
        font-size: 1.85rem;
        font-weight: 600;
    }

    .progress_bar_container {
        background: $text-disabled;
        border-radius: 10px;

        .progress_bar {
            width: attr(data-progress + '%');
            height: 10px ;
            border-radius: 10px;

            &.initial{
                background: $feedback-error;
            }
            &.basic{
                background: $feedback-warning;
            }
            &.intermediary{
                background: $feedback-info;
            }
           .advanced{
            background: $feedback-success;
           }
        }
    }
}