@use '../../../styles/colors.module' as *;

.inputContainer {
    display: flex;
    width: 220px;
    flex-direction: column;
    padding : 10px;

    .input {
        border-radius: 8px;
        height: 44px;
        margin-top: 5px;
        padding: 12px 8px;
        border: 1px solid $text-tertiary;

        &:valid {
            border: 1px solid $feedback-success;
        }
        &:invalid {
            border: 1px solid $feedback-error;
        }
    }
}