@use '../../../styles/colors.module' as *;

.inputContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    .input {
        // position: relative;
        anchor-name: --input-container;
        border-radius: 8px;
        height: 44px;
        margin-top: 5px;
        padding: 12px 8px;
        border: 1px solid $text-tertiary;
        background-color: $white;
        color: $text-primary;

      
        &:invalid {
            border: 1px solid $feedback-error;
        }

    }
    .eye_icon{
        position: absolute;
        position-anchor: --input-container;
        right: calc(anchor(right) + 8px);
        align-self: anchor-center;
        cursor: pointer;

  
    }
}