.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .introdution_section{
        text-align: center;
        margin-bottom: 40px;
        > h4{
            margin-bottom: 12px;
        }
    }
}

.passwordHelper {
    display: flex;
    justify-content: space-between;
}

.divisor {
    display: flex;
    align-items: center;

    hr {
        width: 100%;
    }

    p {
        padding-inline: 2%;
    }

}

.optionalContainer {
    text-align: center;
    font-size: .87rem;

    :last-child {
        margin-left: 5px;
    }
}