@use '../../../styles/colors.module' as *;

.navbar {
    display: flex;
    justify-content: center;
    anchor-name: --my-anchor;
    padding: 16px;

    >section {
        display: flex;
        justify-content: space-between;
    }

    button {
        background: none;
        border: none;
        height: 24px !important;
        &.nav_toggle{
            padding-inline:12px;
            color: $primary-dark;

        }
    }

    .buttons_container {
        display: flex;
        gap: 10px;

    }

    .navbar_container {
        background: $white;
        position: absolute;
        position-anchor: --my-anchor;
        left: anchor(--my-anchor left);
        top: anchor(--my-anchor bottom);
        width: 100%;
        display: none;
        z-index: 999;

        &.navbar_open {
            display: block;
        }

        .loginButton {
            width: 10px !important;
        }

        li,
        a {
            display: block;

        }

        a {
            border-bottom: 1px solid rgba(102, 51, 153, 0.096);
            text-align: center;
            padding: 12px 8px;
            background: $white;
        }

    }
}

@media screen and (min-width: 768px) {
    .navbar {

        >section:first-child {
            align-items: center;

        }

        .buttons_container {
            display: none;
        }

        .navbar_container {
            all: inherit;
            display: flex;
            justify-content: end;

            &.navbar_open {
                display: flex;
            }

            a {
                border: none;
                text-align: center;
                padding: 0 8px;
            }
        }
    }
}